name: General Pull Operator
on:
  workflow_dispatch:
  pull_request:
    types: [opened, labeled]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  OUTPUT_FILE_NAME: IssuesReport.md
  COMMITTER_EMAIL: actions@github.com
  COMMITTER_NAME: Github Actions
  COMMITTER_USERNAME: GithubActions
jobs:
  operate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    name: General Pull Operator
    steps:
    - name: Label Pulls by Changes
      uses: actions/labeler@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: ".github/workflow-config/labeler.yml"
        sync-labels: true
    - name: Assign "Lahar's Labor" pulls
      uses: srggrs/assign-one-project-github-action@1.2.1
      if: contains(github.event.pull_request.labels.*.name, 'lahars-labor')
      with:
        project: 'https://github.com/BellCubeDev/AdditionalClockwork/projects/4'
        column_name: 'In-Progress'
    - name: Assign "Minor Fixes and Changes" pulls
      uses: srggrs/assign-one-project-github-action@1.2.1
      if: contains(github.event.pull_request.labels.*.name, 'bug-in-clockwork')
      with:
        project: 'https://github.com/BellCubeDev/AdditionalClockwork/projects/8'
        column_name: 'Reported &amp; Known'
    - name: Assign "Patches" pulls
      uses: srggrs/assign-one-project-github-action@1.2.1
      if: contains(github.event.pull_request.labels.*.name, 'patch-suggestion')
      with:
        project: 'https://github.com/BellCubeDev/AdditionalClockwork/projects/9'
        column_name: 'Considered'
    - name: Apply proper labels to Issues assigned to Projects
      uses: d-i-bondarenko/project-labeler@v0.2.0
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
    - uses: actions/first-interaction@v1
      with:
       repo-token: ${{ secrets.GITHUB_TOKEN }}
       pr-message: '#Welcome!\n\nThis looks like it''s your first contribution! Thank you for taking the time to directly contribute to Additional Clockwork, and we hope to review your Pull Request shortly!'
